.add-message-container{
	display: flex;
	padding: 0px 30px;
	justify-content: center;
} 

.add-message-form {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 70vw;
	max-width: 500px;
	bottom: 10px;
  /* border: 3px solid #8AC007; */
}

/* .input-message {
	padding: 10px;
	padding: 10px 0;
	width: 400px;
	height: 10px;
	background-color: #ababab;
	margin-right: 5px;
	font-size: 16px;
} */

textarea {
  border: 0.5px solid #ababab;
	background-color: white;
	width: -webkit-fill-available;
	height: auto;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
	resize: none; /** to prevent the posibility to expand the text box **/
	font-size: 13px;
}

/* .add-message-btn {
	/* width: max-content; */
	/* padding: 3px;
	background-color: #ababab;
}  */

.add-message-btn-container {
	display: flex;
	justify-content: flex-end;
	margin-right: 5px;
}

.add-message-btn {
	width: 110px;
	height: 30px;
  padding: 6px;
  border-radius: 13px;
	background-color: #ff5c28;
  margin: 10px 0;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	box-shadow: 7px 10px 13px -10px #333333;
}