.add-message-container{
	display: flex;
	padding: 0px 30px;
	justify-content: center;
} 

.add-message-form {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 63vw;
	max-width: 500px;
	min-width: 350px;
	bottom: 10px;
	border: 1px solid gray;
	border-radius: 8px;
	padding: 5px;
	box-shadow: 7px 10px 13px -10px #333333;
}

.user-div {
	display: flex;
  justify-content: flex-end;
  margin-right: 8px;
}

input {
border-radius: 5px;
}

.input-no {
	width: 20px;
}

textarea {
  border: 0.5px solid #ababab;
	background-color: white;
	width: -webkit-fill-available;
	height: auto;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
	resize: none; 
	font-size: 13px;
}

.add-message-btn-container {
	display: flex;
	justify-content: flex-end;
	margin-right: 5px;
}

.add-message-btn {
	width: 110px;
	height: 30px;
  padding: 6px;
  border-radius: 13px;
	background-color: #ff5c28;
  margin: 10px 0;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	box-shadow: 7px 10px 13px -10px #333333;
}